body {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #1F2937;
    font-family: roboto, "Times New Roman";
    color: white;
    padding: 1px 0px 0px 15px;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    width: 1000px;
    padding: 10px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    display: flex;
}

.links {
    display: flex;
    gap: 15px;
}

a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
    display: flex;
}

.bottom {
    margin: 100px 0px 100px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

h1 {
    display: flex;
    margin: 0;
    padding: 0;
}

.hleft {
    display: flex;
    flex-direction: column;
    min-width: 20px;
    max-width: 300px;
}


.mepic {
    width: 250px;
    display: flex;
}

button {
    background-color: #3882F6;
    color: white;
    text-align: center;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    border: none;
}






.second {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: white;
    flex: 1;
}

h3 {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-weight: 700px;
}

.picturesque {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 800px;
}

.picturesque > * {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 205px;   
    font-size: 12px;    
    gap: 1px;
    text-align: center;
}


.pic {
    display: flex;
    max-width: 205px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
}






.third {
    display: flex;
    height: 500px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quotainer {
    display: flex;
    height: 300px;
    width: 700px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    font-family: roboto;
    padding: 0;
    margin: 0;
    height: 200px;
    width: 700px;
}

.jid {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 700px;
    font-weight: 700;
    font-size: 16px;
}





